/*police raleway*/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/*header*/

header {
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    max-width: 1440px ;
}
/*menu*/

.menu {
    display: flex;
    justify-content: space-between;
    margin: 30px 15px 0 15px;
}

.menu img {
    height: 50px;
    margin-top: 10px;
}

.menu ul {
    display: flex;
    list-style: none;
    font-size: 16px
    ;
}

.menu li {
    margin-left: 25px;
}

.menu mark {
    color: #0065FC;
    background-color: white;
    border-top: 2px #0065FC solid;
    padding: 40px 20px 0 20px;
}

a {
    color: black;
    text-decoration: none;
}

/*filtre*/

#filtre {
    margin-top: 30px;
}

h1 {
    font-size: 21px;
    margin-bottom: 0;
}

#filtre p {
    font-size: 17px;
}

/*recherche*/

.recherche {
    display: flex;
}

#pointeur {
    font-size: 18px;
    padding: 17px 17px 9px 17px;
    background-color: #F2F2F2;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.recherche form {
    display: flex;
}

input, button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#search {
    padding: 13px 17px 14px 17px;
    border-color: #F2F2F2;
    border-style: solid;
    appearance: none;
}

#search:focus {
    outline: none;
}

button {
    padding: 13px 17px;
    background-color: #0065FC;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border: solid #0065FC;
    color: white;
}

button i {
    font-size: 0;
}

/*catégories*/

#catégories {
    display: flex;
    margin-top: 10px;
    padding-left: 0;
    font-weight: bold;
    font-size: 20px;
}

#catégories p {
    font-size: 19px;
    margin-top: 39px;
}

#filtres {
    display: flex;
    list-style: none;
    padding-left: 5px;
    flex-wrap: wrap;
}

#catégories li {
    margin: 10px 0 10px 20px;
    border-top: solid #F2F2F2;
    border-right: solid #F2F2F2;
    border-bottom: solid #F2F2F2;
    border-radius: 50px;
    display: flex;
}

#catégories li:hover {
    background-color: #F2F2F2;
}

#catégories i {
    margin-right: 10px;
    padding: 8px 9px 8px 9px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-radius: 50px;
    align-self: flex-end;
}

#filtres p {
    margin: 8px 8px 8px 0;
}

/*info*/

#info {
    font-size: 18px;
    display: flex;
}

#info i {
    font-size: 16px;
    margin: 14px 8px 13px 0;
    padding: 3px 8px 5px 9px;
    color: #0065FC;
    border: solid #F2F2F2;
    border-radius: 20px;
    max-height: 16px;
}

/*main*/

main {
    margin: 20px auto 40px auto;
    padding: 0 40px;
    max-width: 1440px ;
}
 
/*hébergements*/

#Hébergements {
display: flex;
justify-content: space-between;
}

/*classiques*/

#Classiques {
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

h2 {
    font-size: 21px;
}

#Classiques h2 {
    margin-left: 15px;
    margin-bottom: 5px;
}

/*vignettes*/

.Bloc_1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main a {
    background-color: white;
    border-radius: 14px;
    box-shadow: 5px 5px 12px gainsboro;
}

#Hébergements a {
    border: 4px solid white;
}
#Classiques a {
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: calc(33% - 38px);
}

.Bloc_1 img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    object-fit: cover;
}

.texte {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
}

h3 {
    font-size: 16px;
}
#Hébergements h3 {
    margin: 4px 0 0 0;
}

#Hébergements p {
    font-size: 14px;
    margin: 5px 0 0 0;
}

.Note {
    font-size: 12px;
    margin: 5px 0 3px 0;
    color: #0065FC;
}

.Note .gris {
    color: #F2F2F2;
}

h4 {
    font-size: 17px;
    margin-left: 15px;
}

/*populaires*/

#Populaires {
    margin-left: 40px;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    width: 35%;
}

#titre_icone {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-bottom: 5px;
}

#titre_icone h2 {
    margin-bottom: 0;
}

#titre_icone i {
    align-self: flex-end;
    font-size: 20px;
}

.Bloc_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Bloc_2 a {
    display: flex;
    margin: 15px;
}

.Bloc_2 img {
    height: 135px;
    width: 125px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

/*activités*/

#Activités {
    margin-top: 60px;
}

#les_activités {
    display: flex;
    justify-content: space-between;
}

#les_activités a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#les_activités img {
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.Bloc_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}
    
#les_activités h3 {
    margin-left: 15px;
}

.grand_1 {
    margin: 10px 15px 10px 0;
    width: 25%;
}

.grand_1 img {
    height: 370px;
    object-fit: cover;
}

.grand_2 {
    margin: 10px 15px;
    width: 25%;
}

.grand_2 img {
    height: 370px;
    object-fit: cover;
}

.moyen_1 {
    margin: 10px 15px 15px 15px;
}

.moyen_1 img {
    height: 180px;
    object-fit: cover;
}

.moyen_2 {
    margin: 10px 0 15px 15px;
}

.moyen_2 img {
    height: 135px;
    object-fit: cover
}

.moyen_3 {
    margin: 15px 0 10px 15px;
}

.moyen_3 img {
    height: 155px;
    object-fit: cover
}

.petit {
    margin: 15px 15px 10px 15px;
}

.petit img {
    height: 110px;
    object-fit: cover
}

/*footer*/

footer {
    background-color: #F2F2F2;
}

footer div{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding: 0 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px 30px 0;
}

.footer section {
    margin-left: 5px;
}

.footer ul {
    padding-left: 0;
    margin-left: 15px;
}
.footer li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 15px;
}

/*media queries tablette*/

@media screen and (max-width: 992px) {

    #Hébergements {
        flex-direction: column-reverse;
    }

    #Populaires {
        margin-bottom: 40px;
        margin-left: 0;
        width: auto;
    }

    .Bloc_2 {
        flex-direction: row;
    }
    
    #titre_icone {
        width: 250px;
    }

    .Bloc_2 a {
        flex-direction: column;
        width: 33%;
    }

    .Bloc_2 img {
        width: 100%;
        height: 120px;
        border-top-right-radius: 14px;
        border-bottom-left-radius: 0;
    }

    #Classiques {
        width: auto;
    }

    #les_activités {
        flex-wrap: wrap;
    }

    .grand_1 {
        width: 48%;
    }

    .Bloc_3 {
        width: 48%;
    }

    .grand_2 {
        width: 48%;
        margin-left: 15px;
        margin-right: 0;
    }

    .grand_2:nth-child(3) {
        order: 4;
    }

    .moyen_1 {
        margin-right: 0;
        margin-left: 0;
    }

    .moyen_2 {
        margin-left: 0;
    }

    .moyen_3 {
        margin-left: 0;
    }

    .petit {
        margin-right: 0;
        margin-left: 0;
    }

    .footer {
        padding-right: 100px;
    }
}

/*media queries téléphone*/

@media screen and (max-width: 768px) {

    body {
        min-width: 375px;
    }

    header {
        margin: 0;
        padding: 0;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    .menu img {
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .menu ul {
        box-sizing: border-box;
        width: 100%;
        justify-content: space-around;
        padding: 0;
    }

    .menu li {
        margin: 0;
        width: 50%;
        padding-bottom: 10px;
        border-bottom: solid #F2F2F2;
        display: flex;
        justify-content: center;
    }

    #bleu {
        border-bottom: solid #0065FC;
    }
    
    .menu mark {
        border: none;
        padding: 0;
    }

    #filtre {
        margin-left: 20px;
        margin-right: 20px;
    }

    #search {
        padding-right: 10px;
    }

    button {
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
        font-size: 0;
        padding: 12px 12px;
    }

    #loupe {
        font-size: 18px;
    }

    #catégories {
        flex-direction: column;
    }

    #catégories li {
        margin-left: 0;
        margin-right: px;
    }

    main {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    #Populaires {
        border-radius: 0;
    }

    #titre_icone {
        width: auto;
    }

    .Bloc_2 {
        flex-direction: column;
    }

    .Bloc_2 a {
        flex-direction: row;
        width: auto;
    }

    .Bloc_2 img {
        width: 150px;
        height: 150px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 14px;
    }

    #Classiques {
        background: none;
    }

    .Bloc_1 {
        flex-direction: column;
    }

    #Classiques a {
        width: auto;
    }

    #Activités {
        margin-left: 40px;
        margin-right: 40px;
    }

    #les_activités {
        flex-direction: column;
    }

    #les_activités img {
        height: 120px;
    }

    .grand_1 {
        width: auto;
        margin-right: 0;
    }

    .grand_2 {
        width: auto;
        margin-left: 0;
    }

    .grand_2:nth-child(3) {
        order: initial;
    }

    .Bloc_3 {
        width: auto;
    }

    .footer {
        flex-direction: column;
    }
}